/.classpath
/.settings
/.project
.idea/
/install_deploy_jetty.bat
/run_jetty.bat
/target
/api/.classpath
/api/.settings
/api/.project
/api/target
/omod/.classpath
/omod/.settings
/omod/.project
/omod/target
/deploy.sh


/.idea
*.iml
*.DS_Store
.java-version