<?xml version="1.0" encoding="UTF-8"?>

<!--

    This Source Code Form is subject to the terms of the Mozilla Public License,
    v. 2.0. If a copy of the MPL was not distributed with this file, You can
    obtain one at http://mozilla.org/MPL/2.0/. OpenMRS is also distributed under
    the terms of the Healthcare Disclaimer located at http://openmrs.org/license.

    Copyright (C) OpenMRS Inc. OpenMRS is a registered trademark and the OpenMRS
    graphic logo is a trademark of OpenMRS Inc.

-->

<module configVersion="1.2">

	<!-- Module Properties -->
	<id>${project.parent.artifactId}</id>
	<name>${project.parent.name}</name>
	<version>${project.parent.version}</version>
	<package>${project.parent.groupId}.${project.parent.artifactId}</package>
	<author>Wyclif</author>
	<description>${project.parent.description}</description>
	<updateURL>https://modules.openmrs.org/modules/download/${project.parent.artifactId}/update.rdf</updateURL>
	<require_version>${openMRSVersion}</require_version>

	
	<!-- Required Modules -->
    <require_modules>
        <require_module version="${eventVersion}">org.openmrs.event</require_module>
    </require_modules>

	<!-- Module Activator -->
	<activator>${project.parent.groupId}.${project.parent.artifactId}.Dhis2TrackerActivator</activator>

	<!-- Maps hibernate file's, if present -->
	<mappingFiles>
	</mappingFiles>

	<!-- Internationalization -->
	<messages>
		<lang>en</lang>
		<file>messages.properties</file>
	</messages>
	<messages>
		<lang>fr</lang>
		<file>messages_fr.properties</file>
	</messages>
	<messages>
		<lang>es</lang>
		<file>messages_es.properties</file>
	</messages>

    <!-- GPs -->
    <globalProperty>
        <property>${project.parent.artifactId}.caseReportEncounterTypeName</property>
        <defaultValue>Public health Case report</defaultValue>
        <description>
            Specifies the name of the encounter type to use for encounters created whenever a public health
            case report is received, the value MUST match the name (last) field of the configured value for the
            global property named &lt;t&gt;casereport.publicHealthCaseReportConcept&lt;/t&gt; in the submitting
            OpenMRS instance(s), there is an assumption that the same concept was set in all the submitting OpenMRS
            instances in case of more than one.
        </description>
    </globalProperty>
    <globalProperty>
        <property>${project.parent.artifactId}.dhis2Url</property>
        <description>The URL of the DHIS2 instance</description>
    </globalProperty>
    <globalProperty>
        <property>${project.parent.artifactId}.username</property>
        <description>
            The username of the user account with the appropriate privileges in the DHIS2 instance
        </description>
    </globalProperty>
    <globalProperty>
        <property>${project.parent.artifactId}.password</property>
        <description>
            The password of the user account in the DHIS2 instance
        </description>
    </globalProperty>
    <globalProperty>
        <property>${project.parent.artifactId}.trackedEntityTypeUID</property>
        <defaultValue>MCPQUTHX1Ze</defaultValue>
        <description>
            The UID of the tracked entity representing patients in the DHIS2 instance
        </description>
    </globalProperty>
    <globalProperty>
        <property>${project.parent.artifactId}.programUID</property>
        <defaultValue>swsazZ6lZ5P</defaultValue>
        <description>
            The UID of the program in which to enroll patients in the DHIS2 instance
        </description>
    </globalProperty>
    <globalProperty>
        <property>${project.parent.artifactId}.firstnameUID</property>
        <defaultValue>kx1JDKqLdqV</defaultValue>
        <description>
            The UID of the first name tracked entity attribute in the DHIS2 instance
        </description>
    </globalProperty>
    <globalProperty>
        <property>${project.parent.artifactId}.middlenameUID</property>
        <defaultValue>yASg4z58okh</defaultValue>
        <description>
            The UID of the middle name tracked entity attribute in the DHIS2 instance
        </description>
    </globalProperty>
    <globalProperty>
        <property>${project.parent.artifactId}.lastnameAttributeUID</property>
        <defaultValue>kvkIr4Etq09</defaultValue>
        <description>
            The UID of the last name tracked entity attribute in the DHIS2 instance
        </description>
    </globalProperty>
    <globalProperty>
        <property>${project.parent.artifactId}.genderAttributeUID</property>
        <defaultValue>ygL42trGhmu</defaultValue>
        <description>
            The UID of the gender tracked entity attribute in the DHIS2 instance
        </description>
    </globalProperty>
    <globalProperty>
        <property>${project.parent.artifactId}.maleOptionUID</property>
        <defaultValue>1</defaultValue>
        <description>
            The UID of the male option in the DHIS2 instance
        </description>
    </globalProperty>
    <globalProperty>
        <property>${project.parent.artifactId}.femaleOptionUID</property>
        <defaultValue>2</defaultValue>
        <description>
            The UID of the female option in the DHIS2 instance
        </description>
    </globalProperty>
    <globalProperty>
        <property>${project.parent.artifactId}.birthdateUID</property>
        <defaultValue>lWLdcQLgpSz</defaultValue>
        <description>
            The UID of the birth date tracked entity attribute in the DHIS2 instance
        </description>
    </globalProperty>
    <globalProperty>
        <property>${project.parent.artifactId}.personIdUID</property>
        <defaultValue>TtGmkcE74ww</defaultValue>
        <description>
            The UID of the person ID tracked entity attribute in the DHIS2 instance
        </description>
    </globalProperty>
    <globalProperty>
        <property>${project.parent.artifactId}.dateOfHivDiagnosisUID</property>
        <defaultValue>INtCa4ICkXo</defaultValue>
        <description>
            The UID for the date of HIV diagnosis tracked entity attribute in the DHIS2 instance
        </description>
    </globalProperty>

    <!-- Privileges -->

</module>

